@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-palette-background;
    @apply overscroll-none;
    @apply overflow-x-hidden;
  }
  html {
    @apply bg-palette-background;
    @apply text-white;
    @apply overscroll-none;
    @apply overflow-x-hidden;
  }

  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-3xl;
  }
  p {
    @apply text-palette-lightGrey;
    @apply text-base;
    @apply leading-7;
  }
  footer p {
    @apply text-white;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .title {
    font-size: 8rem;
    line-height: 7.5rem;
  }
  .hero-title {
    font-size: 6rem;
    line-height: 7rem;
    letter-spacing: 0.025em;
    text-align: center;
  }

  .overline-title {
    @apply text-palette-yellow;
    @apply uppercase;
    @apply text-base;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #fced31;
    text-stroke: 1px #fced31;
  }
}
h1,
h2,
h3,
h4,
h5,
button,
button a {
  font-family: var(--font-staatliches);
  letter-spacing: 0.025em;
  text-transform: "uppercase";
}

h6,
p,
a {
  font-family: var(--font-poppins);
}

.stripe:after {
  background-image: url("/stripe.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 0.2em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition-duration: 0.5s;
  transition-property: all;
  width: 10;
  z-index: 1;
}
